.site-header {
  background: #1c1c33 !important;

  &__top {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #57d9a6;
    
    & p {
      text-align: center;
      margin: 0;
    }
  }
  &__nav {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: inherit !important;
  }
}

